dash-design-kit
dash>=4.1.0
dash-enterprise-libraries
dash_daq
gunicorn
diskcache
multiprocess
celery
numpy
pandas
colorcet
datashader
pyproj
redis
kaleido
packaging
dash-ag-grid>=35
SQLAlchemy
pg8000
PyMySQL
tenacity
psycopg2-binary==2.9.10
xarray
netcdf4
cf_xarray
pygeodesy
git+https://github.com/noaaroland/sdig.git