dash-design-kit
dash
gunicorn
numpy
pandas
colorcet
datashader
pyproj
redis
kaleido
packaging
dash-ag-grid
SQLAlchemy
pg8000
PyMySQL
tenacity
psycopg2-binary==2.9.10
git+https://github.com/noaaroland/sdig.git